.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.nav__item {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}

.active {
    color: brown;
}